
# Environment variables
.env

# Yahoo OAuth tokens
oauth2.json
oauth2.json.bak

# Python cache
__pycache__/
*/__pycache__/
**/__pycache__/

# Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
